<div class="grid grid-cols-2 gap-2 max-w-70 min-h-55">
  <div  class="border-[1px] border-slate-700 mx-10 p-4 rounded-md min-w-60 max-h-35 overflow-hidden break-words" *ngFor="let repo of displayedRepos">
    <h3 class="text-blue-500">{{ repo.name }}</h3>
    <p>{{ repo.description }}</p>
    <p class="mt-2 text-white text-center rounded-md bg-blue-500 w-20"> {{ repo.language }}</p>
  </div>
</div>
  
  
  <!-- Pagination -->
    
  <app-pagination [currentPage]="currentPage" [pageSize]="pageSize" [totalItems]="totalRepos" (pageChange)="onPageChange"></app-pagination>