<div *ngIf="user" class="py-4 px-6 absolute top-10 left-[40%] rounded-lg shadow-sm text-slate-800 flex items-center">
    <img *ngIf="user.avatar_url" [src]="user.avatar_url" alt="User Avatar" class="rounded-full object-cover h-36 w-36 mr-4" />
  
    <div>
        <h2 class="text-2xl font-semibold">{{ user.name }}</h2>
        <h4 class="text-xl font-light">{{user.login}}</h4>
        <p class="mb-2 font-normal text-slate-600">{{ user.bio }}</p>
        <p class="mb-2 font-light text-base text-slate-600">Location: {{ user.location }}</p>
        <div class="p-2 flex items-center justify-between gap-4">
            <p class="mb-2 font-normal text-base text-slate-500">followers: {{ user.followers }}</p>
            <p class="mb-2 font-normal text-base text-slate-500">following: {{ user.following }}</p>
        </div>
  
        <!-- <p *ngIf="user.twitter_username" class="mb-2">
            Twitter: <a href="https://twitter.com/{{ user.twitter_username }}" target="_blank">https://twitter.com/@{{ user.twitter_username }}</a>
        </p> -->
        
        <p *ngIf="user.blog" class="mb-2">
             <a href="{{ user.html_url }}" target="_blank">{{ user.html_url }}</a>
        </p>
    </div>
  </div>
